.editor {
  @apply bg-[#323232] flex flex-col flex-1;
}

.hero {
  border-radius: 10px;
  background-color: #434343;
  height: 120px;
  position: relative;

  .hero_title {
    @apply px-8 flex flex-row;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  input {
    @apply outline-none;
    background: transparent;
    width: 100%;
    color: #ddd;
    font-size: 2.5rem;
    font-weight: 900;
  }
}

.main_area {
  padding-left: 1rem;
  padding-right: 1rem;
}

.search_area {
  @apply px-2 rounded-full bg-[#323232] flex flex-row text-[#dddddd99] py-1;

  span {
    @apply block w-6;

    svg {
      @apply block w-full p-1 m-auto;
    }
  }

  input {
    @apply flex-1 pl-2 bg-transparent  text-[0.9rem] outline-none;
  }
}

.toolbar {
  @apply py-3 pl-2 flex flex-row flex-1;
  form {
    @apply flex-1;
  }

  span {
    @apply block w-6;

    svg {
      @apply block w-full p-1 m-auto;
    }
  }
}

.tag {
  @apply flex flex-row rounded-full pl-2 rounded-full mr-1;
  color: #ddd;
  background-color: #222222;

  span {
    @apply block w-6;

    svg {
      @apply block w-full p-1 m-auto;
    }
  }
}

.tag_entry {
  @apply px-8 py-2 cursor-pointer;
  &:hover,
  &:active,
  &.active {
    background-color: #3c3d3d;
  }
}
