.menu {
  @apply p-2;
  position: absolute;
  background-color: #2b2c2c;
  pointer-events: all;
  z-index: 10;
  border-radius: 5px;
  padding: 3px;
}

.item {
  @apply text-[#ddd] px-3 py-1;
}
.item:hover {
  background-color: #3b3c3c;
  cursor: pointer;
}
