.menu {
  @apply p-2;
  position: absolute;
  background-color: #2b2c2c;
  pointer-events: all;
  z-index: 10;
  border-radius: 5px;
  padding: 3px;
}

.item {
  @apply text-[#ddd] px-1 py-1 pr-[20px];
}
.item:hover {
  @apply text-green-400;
  background-color: #3b3c3c;
  cursor: pointer;
}

.icon {
  @apply mx-[2px];
}

.icon,
.icon svg {
  width: 16px;
}
