button.icon {
  @apply text-white;
  &:hover,
  &:active,
  &:focus {
    @apply text-green-400;
  }

  svg {
    @apply block w-full p-1 m-auto rounded-full;
  }

  &.hoverable {
    svg:hover {
      background-color: #00000033;
      color: #ddd;
    }
  }
}
