@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,200;1,800&display=swap");
@import "./colors.scss";
@import "./quill.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border-right-color: transparent;
  animation: loader-rotate 1.5s linear infinite;

  &.slow {
    animation-duration: 2.5s;
  }
}

* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #1f1f1f;
}

#portal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ddd #555;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }
}

button.btn-icon {
  @apply text-white;
}

button.btn-icon:hover {
  @apply text-green-400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #ddd;
  display: block;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

.quill_container {
  padding-top: 1.5rem;
  overflow-y: auto;
}

.ql-container.ql-snow {
  flex-grow: 1;
  border: none !important;
  height: 100%;
}
.quill,
.ql-editor {
  height: 100% !important;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  @apply flex flex-col;
}
